<div class="row">
  <div class="col-md-4">

    <div class="form-group">
      <label>{{'mainMenu.Name' | translate}}</label><br>
      <input class="form-control" type="text" [(ngModel)]="task.name" value="{{task.name}}" />
    </div>

    <div class="form-group">
      <label>{{'mainMenu.Description' | translate}}</label><br>
      <input class="form-control" type="text" [(ngModel)]="task.description" value="{{task.description}}" />
    </div>

    <div class="form-group">
      <label>{{'mainMenu.Price' | translate}}</label><br>
      <input class="form-control" type="number" [(ngModel)]="task.price" value="{{task.price}}" />
    </div>

    <div class="form-group">
      <label>{{'mainMenu.TimeLimit' | translate}}</label><br>
      <input class="form-control" type="date" [(ngModel)]="task.timeLimit" value="{{task.timeLimit}}" />
    </div>

    <div>
      <input type="button" (click)="createTask()" class="btn btn-primary" value="{{'mainMenu.Create' | translate}}" />
    </div>

  </div>
</div>
